Recommender/Kmeans/__pycache__/
sql_showcase/order_app/migrations/
sql_showcase/order_app/sample_data/
sql_showcase/order_app/__pycache__/
sql_showcase/order_app/management/commands/__pycache__/
sql_showcase/sql_showcase/__pycache__/
sql_showcase/db.sqlite3
